#nazwisko, #age, #e-mail, #panstwo
{

    background:#ffffff
}
h1, h2, h3 {
margin:0;
padding:0;
}
body {
background:#262626;

}
h1,h2 {
background: #2F2F2F;
color: #ffffff;
text-align:center;
}
nav
{
    background:#787878;
    border-radius: 25px;
    box-shadow: 0 0 1em black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: inherit;
}
section {
    	background:#787878;
}
main {
width:fit-content;
padding:1%;
background:#787878;
display:grid;
border-radius: 50px;
box-shadow: 10px 5px 5px black;
margin-bottom: 0.5em;
}
footer{
width:inherit;
padding:1%;
text-align:center;
background: #2F2F2F;
color: #ffffff;
border-radius: 25px;
}
nav a {
    width: 25%;
    font-size: 1.5em;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
@media screen and (max-width: 720px) {
    nav a {
        font-size: 1.2em;
    }
    main {
        border-radius: 20px;
    }
}
::placeholder{
  color: black;
}
