html, body {
    margin: 0;
   
}
h1, h2, h3 {
margin:0;
padding:0;
}
body {
background:#262626;
color:#000040;
justify-content: center;
}
h1,h2 {
background: #2F2F2F;
color: #FFFFFF;
text-align:center;
border-radius: 40px;
}
article {
padding:1%;
background:#787878;
border-radius: 40px;
box-shadow: 10px 10px 5px black;
text-align: center;
}
#kontener {
    display: flex;
    width: inherit;
}

#kontener a
{
    width:auto;
    padding:1%;
}
#galeria {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, [s] 33% [e]);
}
article {
    width: 75%;
}
aside {
width:20%;
padding:0.5em;
}
footer{
    background: #2F2F2F;
color: #ffffff;
width:100%;
padding:5px 0 5px 0;
text-align:center;
}
nav a {
    width: 25%;
    font-size: 1.5em;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
nav
{
    background:#787878;
    border-radius: 25px;
    box-shadow: 0 0 1em black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: inherit;
}
@media screen and (max-width: 720px) {
    nav a {
        font-size: 1.2em;
    }
    article {
      
        width:auto;
         padding:1%;
        border-radius: 20px;
        justify-content: center;
     
    }
  #kontener
    {
        flex-direction:column;
         display:flex;
   justify-content: center;
    }
    aside
    {
        text-align: center;
        width:auto;
}
}
.box { background:#787878;
color:#dbffff;
padding:5px;
margin:5px;
font-size:90%;;
border-radius: 15px;}
.box a{color:#ffffb0}
img { max-width: 100%; height: auto; border-radius:20px; }
